#ServiceChooseMain{
    height: 100vh;
    box-sizing: border-box; 
    background-image: url('../../imgs/logoPentakill.jpg'); 
    background-position: center; 
}

#ServiceChooseMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1 0 auto;
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item3 item2"
    "item4 item4 item2";
   
}
.div{
    border: 2px solid red;
}
/* INICIO HEADERSERVICE */
#headerService{
    grid-area: item1;
    
    
}
#headerChoose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#selectService{
    width: 30%;
    font-size: 1.8em;
}
/* FIM HEADERSERVICE */

/* FINALITY SERVICE */
#finalityService{
    grid-area: item2;
    width: 400px;
    
}

#inputFilityContainer{
    width: 100%;
    padding: 10px;
}

#txtFinality{
    height: 10%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#adicionaisFinality{
   height: 60%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
.containerDivImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#finalizarFinality{
    height: 30%;
    border: 2px solid blue;
}
#inputFinality{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
#textCheckbox{
    padding-left: 10px;
}

#textInput{
    padding-left: 10px;
}
/* FIM FINALITY SERVICE */
/* INCICIO SERVICE CONTENT */
#serviceContent{
    grid-area: item3;
    display: flex;
    flex-direction: row;
}
#eloAtual{
    width: 50%;
    height: 100%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#eloDesejado{
    width: 50%;
    height: 100%;
    border: 2px solid blue;
}
.txtServiceContent{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid pink;
}
.imgServiceContent{
    width: 100%;
    height: 70%;
    border: 2px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgEloService{
    width: 270px;
}

.divsionServiceContent{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 2px solid pink;
}
#imgDivision{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
}
.imgEloDivision{
    width:70px;
}

/* FIM SERVICE CONTENT */
#footerService{
    grid-area: item4;
}
