*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
#ServiceChooseMain{
    height: 100vh;   
    display: flex;
}

/* main content */
#mainContent{
    height: 100%;
    width: 70%;
}

#headerService{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerChoose{
    display: flex;
    align-content: center;
    justify-content: center;
}
#selectService{
    font-size: 1.7em;
    width: 310px;
}
/* FIM MAIN CONTENT */
/* SERVICE CONTENT */
#serviceContent{
    
    height: 70%;
    display: flex;

}
#eloAtual, #eloDesejado{
    width: 50%;
    height: 100%;
   
}
.txtServiceContent{
    
    height: 10%;
    text-align: center;
}
.imgServiceContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.divisionServiceContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}


/* FIM MAIN CONTENT */

#txtFinality{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#adicionaisFinality{
    height: 70%;
    border: 2px solid orange;
}
#finalizarFinality{
   
}
/* FOOTER CONTENT */
#footerService{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* FIM FOOTER CONTENT */




/* MAIN FINALIZATE */
#mainFinalizate{
    height: 100%;
    width: 30%;
    border: 2px solid red;
}

#finalityService{
    height: 100%;
}


/* FIM MAIN FINALIZATE */


.imgEloService{
    width: 200px;
}
.imgEloDivision{
    width: 50px;
}