@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
#mainLogin{
    height: 100vh;
    background: rgb(13,111,255);
    background: linear-gradient(-45deg, rgba(13,111,255,1) 0%, rgba(13,94,255,1) 16%, rgba(13,94,255,1) 33%, rgba(10,75,204,1) 89%, rgba(6,46,127,1) 100%);
    display: flex;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center
}

#containerLogin{
    width: 70%;
    height: 70%;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
#imgLogin{
    height: 100%;
    width: 40%;
    background-image: url('../../imgs/viegoPentakillImg.jpg');
    background-position: center;
    background-size: 900px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#formLoginContainer{
    width: 60%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}


#formLoginContainer h1 {
    font-family: 'Poppins', sans-serif;
   font-size: 2.0em;
   text-align: center;
}

#formLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#btnLogin{
    width: 80%;
    border-radius: 40px;
}


#btnLoginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#containerLoginForm{
    width: 90%;
    height: 100%;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
}

#inputEmail, #inputPassword{
    width: 80%;
    height: 50px;
    color: #6e707e;
    border-radius: 40px;
    padding-left: 20px;
    border: 1px solid #6e707e;
    margin-bottom: 20px;
    font-size: 0.9rem;
    transition: border-color 15s ease-in-out, box-shadow 15s ease-in-out;
}

#rememberMeLabel{
    padding-left: 5px;
}

#rememberMeContainer{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    
}

#formLoginContainer h1{
    color: #6e707e;
    padding-bottom: 25px;
}
@media (min-width: 1970px){
    #imgLogin{
        background-size: 1500px;
    }
    #formLoginContainer h1{
        font-size: 3.5rem;
    }
    #btnLogin{
        font-size: 1.7rem;
    }
    .addLinksLogin{
        font-size: 1.5rem;
    }
    #containerLoginForm{
        border: 2px solid red;
    }
    #inputEmail, #inputPassword{
        width: 80%;
        height: 50px;
        color: #6e707e;
        border-radius: 40px;
        padding-left: 20px;
        border: 1px solid #6e707e;
        margin-bottom: 20px;
        font-size: 0.9rem;
        transition: border-color 15s ease-in-out, box-shadow 15s ease-in-out;
    }
}
@media (max-width: 767px){
    #imgLogin{
        display: none;
    }
    #formLoginContainer{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
}

@media (max-width: 374px){
    #h1LoginTXT{
        font-size: 0.5rem;
    }
    #inputEmail{
        padding-left: px;
    }
}

@media (max-height: 650px){
    #formLoginContainer{
        height: 100vh;
    }
}
