*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
#mainLogin{
    height: 100vh;
    background: rgb(13,111,255);
    background: linear-gradient(-45deg, rgba(13,111,255,1) 0%, rgba(13,94,255,1) 16%, rgba(13,94,255,1) 33%, rgba(10,75,204,1) 89%, rgba(6,46,127,1) 100%);
    display: flex;
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center
}

#containerLogin{
    width: 70%;
    height: 70%;
    border: 2px solid transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
#imgLogin{
    height: 100%;
    width: 40%;
    background-image: url('../../imgs/viegoPentakillImg.jpg');
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#formLoginContainer{
    width: 60%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}


#formLoginContainer h1 {
    font-family: 'Poppins', sans-serif;
   font-size: 2.0em;
   text-align: center;
}

#btnLogin{
    width: 80%;
    border-radius: 40px;
}


#containerLoginForm{
    width: 100%;
    height: 100%;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
}

#inputEmail, #inputPassword{
    width: 80%;
    height: 50px;
    color: #6e707e;
    border-radius: 40px;
    padding-left: 20px;
    border: 1px solid #6e707e;
    margin-bottom: 20px;
    font-size: 0.9rem;
    transition: border-color 15s ease-in-out, box-shadow 15s ease-in-out;
}

#rememberMeLabel{
    padding-left: 5px;
}

#rememberMeContainer{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    
}

#h1LoginTXTContainer{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    
    color: #6e707e;
}


#formLogin{
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


#btnLoginContainer{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#addLinksLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%; 
    border-top: 1px solid rgb(0, 0, 0, 20%);
    
    
}


@media (min-height: 825px){
    #imgLogin{
        background-size: 1200px;
    }
}

 @media (min-height: 1000px){
    #imgLogin{
        background-size: 1500px;
    }
    #formLoginContainer h1{
        font-size: 3.0rem;
    }
    #inputEmail, #inputPassword{
        height: 80px;
    }
    #inputEmail, #inputPassword::placeholder{
        font-size: 1.5rem;
    }
    #rememberMe{
        width: 20px;
    }
    #rememberMeLabel{
        font-size: 1.5rem;
    }
    #btnLoginContainer button{
        font-size: 2.0rem;
    }
    .addLinksLogin a{
        font-size: 1.7rem;
    }
}

  

@media (max-width: 900px){
    #imgLogin{
        display: none;
    }
    #formLoginContainer{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
}

@media (max-width: 374px){
    #h1LoginTXT{
        font-size: 0.5rem;
    }
    #inputEmail{
        padding-left: px;
    }
}

@media (max-height: 650px){
    #formLoginContainer{
        height: 100vh;
    }
}
