*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#MainRecoverPassword{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(13,111,255);
    background: linear-gradient(-45deg, rgba(13,111,255,1) 0%, rgba(13,94,255,1) 16%, rgba(13,94,255,1) 33%, rgba(10,75,204,1) 89%, rgba(6,46,127,1) 100%);
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
}

#RecoverPasswordContainer{
    width: 70%;
    height: 75%;
    display: flex;
    color: #1C1C1C;
    
}

#imgRecoverPassword{
    width: 40%;
    background-image: url('../../imgs/viegoPentakillImg.jpg');
    background-position: center center;
    min-height: 100%;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-repeat: no-repeat;
}

#containerFormRecoverPassword{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
}

#formRecoverPassword{
    width: 90%;
    height: 100%;
    text-align: center;
}
#h1RecoverTittle{
    font-size: 4em;
    padding-bottom: 20PX;
}

#h4RecoverTittle{
    font-size: 2em;
}

#inputEmailRecover{
    width: 80%;
    height: 80px;
    color: #1C1C1C;
    border-radius: 40px;
    padding-left: 20px;
    border: 1px solid #6e707e;
    margin-bottom: 20px;
    font-size: 0.9rem;
    transition: border-color 15s ease-in-out, box-shadow 15s ease-in-out;
}


#inputEmailRecover::placeholder{
    font-size: 1.6em;
    color: #6e707e;
    
}
#btnRecoverPassword{
    width: 80%;
    height: 90px;
    border-radius: 40px;
    font-size: 1.6rem;
}


#recoverPasswordTittle{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   

}

#emailRecoverPassword{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}

#buttonRecoverPassword{
    height: 20%;
   
}

#linksAdicionais{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}



@media (max-width: 1366px){
    #containerFormRecoverPassword{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        
    }
    
    #formRecoverPassword{
        width: 90%;
        height: 100%;
        text-align: center;
    }
    #h1RecoverTittle{
        font-size: 2.0em;
        padding-bottom: 20PX;
    }
    
    
    
    #h4RecoverTittle{
        font-size: 1.5em;
    }
    
    #inputEmailRecover{
        width: 80%;
        height: 50px;
        border-radius: 40px;
        padding-left: 20px;
        border: 1px solid #6e707e;
        margin-bottom: 20px;
        font-size: 0.9rem;
        transition: border-color 15s ease-in-out, box-shadow 15s ease-in-out;
    }
    #inputEmailRecover::placeholder{
        font-size: 1.3em;
    }
    
    #btnRecoverPassword{
        width: 80%;
        height: 45px;
        border-radius: 40px;
        font-size: 1.3em;
    }

    
    #recoverPasswordTittle{     
    
    }
    
    
    
    #linksAdicionais{
       font-size: 1.0em;
        
    }
    
}


@media (max-width: 925px){
    #imgRecoverPassword{
        display: none;
    }
    #containerFormRecoverPassword{
        width: 100%;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
}

@media (max-height: 550px){
    #containerFormRecoverPassword{
        height: 100vh;
    }
    
}

@media (max-width: 560px){
    #containerFormRecoverPassword{
        height: 100%;
    }
    #h1RecoverTittle{
        font-size: 1.5rem;
    }
    #h4RecoverTittle{
        font-size: 1.0rem;
    }
    
}