#mainHome{
    /* border: 2px solid green; */
    height: 100vh;
    background-color: #141414;
   
}

#mainContainer{
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    /* position: relative; */
}
#mainContainer > #imgHome{
    display: flex;

    align-items: flex-end;
    justify-content: flex-end;
}
#imgNext{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    
}

#imgNextHome{
    display: flex;
    height: 90%;
    align-items: flex-end;
    /* position: absolute; */
}

#imgsHome{
   
    /* border: 2px solid blue; */
    
}
#akaliImg{
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#textHome{
    /* border: 2px solid yellow; */
}

#primaryTxtHome{
    font-size: 5.5em;
    color: #ffffff;
}

.secundaryTxtHome{
    color: #10b5bf;
}

#nextImg{
    animation: animateNext 2.s infinite;
    width: 100px;  
}

#nextImgContainer{
    display: flex;
    align-items: flex-end;
    height: 100%;
   
}

@keyframes animateNext {
    0%{margin-bottom: 10px;}
    50%{margin-bottom: 50px;}
    100%{margin-bottom: 10px;}

    
    
}
