#mainHome{
    height: 100vh;
    background-color: #141414;
}

#mainContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
#imgNext{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    
}
#imgNextHome{
    display: flex;
    height: 90%;
    align-items: flex-end;
    position: absolute;
}

#imgsHome{
    display: flex;
}
#akaliImg{
    padding-top: 5.5em;
    justify-content: flex-end;
    width: 450px;
}

#primaryTxtHome{
    font-size: 5.5em;
    color: #ffffff;
}

.secundaryTxtHome{
    color: #10b5bf;
}